html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; 
    background: linear-gradient(to bottom right, #ebb3b3,hsl(200, 51%, 65%));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

 div{
    scroll-margin-top: 80px;
}


#navbar{
    position: fixed;
    justify-content: center;
    display: flex;
    list-style: none;
    top: 0;
    width: 100%;
    padding-bottom: 5px;
    background-color:palevioletred;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.15);
    }
#ul1{
    display: flex;
    list-style: none;
    width: 50%;
    font-size: 18px;
}
#ul2{
    display: flex;
    list-style: none;
    width: 50%;
    font-size: 18px;
    gap: 110px;
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
a:hover{
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    font-size: 20px;
    margin-left: 20px;
}
.a{
    list-style: square;
}
